<!-- Spinner Start -->
<div id="spinner"
    class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->

<!-- Hero Start -->
<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-7">
                <h4 class="mb-3 text-secondary">Steam Game</h4>
                <h1 class="mb-5 display-3 text-primary text-slogan">Unlock the Best Deals on Steam Games
                </h1>

            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fa-brands fa-steam fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Key Active Steam</h5>
                        <p class="mb-0">To Your Steam Account</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-user-shield fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>Security Payment</h5>
                        <p class="mb-0">100% security payment</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fas fa-exchange-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>30 Day Return</h5>
                        <p class="mb-0">30 day money guarantee</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="featurs-item text-center rounded bg-light p-4">
                    <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                        <i class="fa fa-phone-alt fa-3x text-white"></i>
                    </div>
                    <div class="featurs-content text-center">
                        <h5>24/7 Support</h5>
                        <p class="mb-0">Support every time fast</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featurs Section End -->


<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <div class="tab-class text-center">
            <div class="row g-4">
                <div class="text-start">
                    <h1>Our Games Products</h1>
                </div>

            </div>
            <div class="mt-4 tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="row g-4">
                                {{#each gameData}}
                                <div class="col-md-6 col-lg-4 col-xl-3">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <img src="img/{{this.image}}" class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                            style="top: 10px; left: 10px;">Steam</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4 class="text-limit-2"><a href="/games/{{this.slug}}"
                                                    style="font-size: 32px;">{{ this.name}}</a>
                                            </h4>
                                            <p class="text-limit">{{this.description}}</p>
                                            <form method="POST" action="/user/cart-add/{{this._id}}" id="form-cart-add">
                                                <div class="d-flex justify-content-between flex-lg-wrap">
                                                    <p class="text-dark fs-5 fw-bold mb-0">A$ {{this.price}}</p>
                                                    <button type="submit" data-id="{{this._id}}"
                                                        class="btn border border-secondary rounded-pill px-3 text-primary btn-add-to-cart"><i
                                                            class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                                                        cart</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->

<!-- Vesitable Shop Start-->
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Games</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            {{#each gameData}}
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="img/{{this.image}}" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">
                    Steam</div>
                <form method="POST" action="/user/cart-add/{{this._id}}" id="form-cart-add">
                    <div class="p-4 rounded-bottom">
                        <h4>{{this.name}}</h4>
                        <p class="text-limit">{{this.description}}</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold mb-0">A$ {{this.price}}</p>
                            <button type="submit" data-id="{{this._id}}"
                                class="btn border border-secondary rounded-pill px-3 text-primary btn-add-to-cart"><i
                                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
                        </div>
                    </div>
                </form>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Vesitable Shop End -->



<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
            <h1 class="display-4">Bestseller Products</h1>
        </div>
        <div class="row g-4">
            {{#each bestSeller}}
            <div class="col-lg-6 col-xl-4">
                <div class="p-4 rounded bg-light">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <img src="img/{{this.image}}" class="img-fluid rounded-circle w-100" alt="">
                        </div>

                        <div class="col-6">
                            <form method="POST" action="/user/cart-add/{{this._id}}" id="form-cart-add">
                                <h5><a href="/games/{{this.slug}}">{{this.name}}</a></h5>
                                <h4 class="mb-3">A$ {{this.price}}</h4>
                                <button type="submit" data-id="{{this._id}}"
                                    class="btn border border-secondary rounded-pill px-3 text-primary btn-add-to-cart"><i
                                        class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Bestsaler Product End -->


<!-- Fact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="bg-light p-5 rounded">
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-users text-secondary"></i>
                        <h4>satisfied customers</h4>
                        <h1>1963</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-user text-secondary"></i>
                        <h4>quality of service</h4>
                        <h1>99%</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-user text-secondary"></i>
                        <h4>quality certificates</h4>
                        <h1>33</h1>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="counter bg-white rounded p-5">
                        <i class="fa fa-user text-secondary"></i>
                        <h4>Available Products</h4>
                        <h1>{{totalProducts}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact Start -->
<!-- Back to Top -->
<a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i
        class="fa fa-arrow-up"></i></a>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var btnAddToCart = $(".btn-add-to-cart");
        var addToCartForm = document.forms['form-cart-add'];

        btnAddToCart.on('click', function () {
            var gameId = $(this).data('id');

            addToCartForm.action(`/user/cart-add/` + gameId);
            addToCartForm.submit();
        })
    })

</script>