<!DOCTYPE html>

<head>
    <title>ADMIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="../dashboard/css/bootstrap.min.css">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="../dashboard/css/style.css" rel='stylesheet' type='text/css' />
    <link href="../dashboard/css/style-responsive.css" rel="stylesheet" />
    <!-- font CSS -->
    <link
        href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="../dashboard/css/font.css" type="text/css" />
    <link href="../dashboard/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../dashboard/css/morris.css" type="text/css" />
    <!-- calendar -->
    <link rel="stylesheet" href="../dashboard/css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="../dashboard/js/jquery2.0.3.min.js"></script>
    <script src="../dashboard/js/raphael-min.js"></script>
    <script src="../dashboard/js/morris.js"></script>
</head>

<body>
    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">
                <a href="/admin" class="logo">
                    VISITORS
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->


        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <div class="leftside-navigation">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li>
                            <a class="active" href="/admin">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="active" href="/admin/create">
                                <i class="fa fa-dashboard"></i>
                                <span>Create A New Game</span>
                            </a>
                        </li>
                        <li>
                            <a class="active" href="/admin/show-all">
                                <i class="fa fa-dashboard"></i>
                                <span>Games</span>
                            </a>
                        </li>
                        <li>
                            <a class="active" href="/admin/delete-game">
                                <i class="fa fa-dashboard"></i>
                                <span>Recycle Bin</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                <!-- //market-->
                <div class="market-updates">
                    <form method="POST" action="/admin/edit-games-submit/{{GameData.slug}}?_method=PUT"
                        enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input name="name" type="text" class="form-control" id="exampleInputEmail1"
                                value="{{GameData.name}}">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input name="price" type="text" class="form-control" id="exampleInputPassword1"
                                value="{{GameData.price}}">
                        </div>
                        <div class="form-group">
                            <label for="descriotion">Description</label>
                            <input name="description" type="text" class="form-control" id="exampleInputPassword1"
                                value="{{GameData.description}}">
                        </div>
                        <h3 style="padding: 8px 0px 16px 0px;">Cấu Hình Cần Để Chơi</h3>
                        <div class="form-group">
                            <label for="description">Hệ Điều Hành</label>
                            <input name="os" type="text" class="form-control" id="exampleInputPassword1"
                                value="{{GameData.specs.os}}">
                        </div>
                        <div class="form-group">
                            <label for="description">Chip</label>
                            <input name="chip" type="text" class="form-control" id="exampleInputPassword1"
                                value="{{GameData.specs.Processor}}">
                        </div>
                        <div class="form-group">
                            <label for="description">Ram</label>
                            <input name="ram" type="text" class="form-control" id="exampleInputPassword1"
                                value="{{GameData.specs.Memory}}">
                        </div>
                        <div class="form-group">
                            <label for="description">Graphics Card</label>
                            <input name="graphicsCard" type="text" class="form-control" id="exampleInputPassword1"
                                value="{{GameData.specs.GraphicsCard}}">
                        </div>
                        <div class="form-group">
                            <label for="description">Storage</label>
                            <input name="storage" type="text" class="form-control" id="exampleInputPassword1"
                                value="{{GameData.specs.Storage}}">
                        </div>
                        <div class="form-group">
                            <label for="description">Sound Card</label>
                            <input name="soundCard" type="text" class="form-control" id="exampleInputPassword1"
                                value="{{GameData.specs.SoundCard}}">
                        </div>
                        <div class="form-group">
                            <label for="description">Ghi Chú Thêm</label>
                            <input name="additionalNote" type="text" class="form-control" id="exampleInputPassword1"
                                value="{{GameData.specs.AdditionalNote}}">
                        </div>
                        <h3 style="padding: 8px 0px 16px 0px;">Ảnh</h3>
                        <div class="form-group">
                            <div class="custom-file">
                                <input name="image" type="file" class="custom-file-input" id="inputGroupFile04"
                                    aria-describedby="inputGroupFileAddon04" value="{{GameData.image}}">
                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                            </div>
                        </div>
                        <select class="form-control form-control-sm" name="action" required="required"
                            style="width: 50%; padding: 8px; margin-bottom: 16px;">
                            <option value="">-- Best Seller --</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <div class="clearfix"> </div>
                </div>

            </section>
        </section>
        <!--main content end-->
    </section>
    <script src="dashboard/js/bootstrap.js"></script>
    <script src="dashboard/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="dashboard/js/scripts.js"></script>
    <script src="dashboard/js/jquery.slimscroll.js"></script>
    <script src="dashboard/js/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="dashboard/js/jquery.scrollTo.js"></script>
    <!-- morris JavaScript -->
</body>

</html>